[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycountry = "==18.12.8"
requests = "==2.19.1"
"beautifulsoup4" = "==4.7.1"
polyglot = "==16.*"
six = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.6"
